/*
COLORI
- Background Header
    background-color: rgb(49,97,224);
- Background sezioni grigie
    background-color: rgb(246,246,246);
- Background footer
    background-color: rgb(35,39,42);
FONT
- font-family: 'Rubik', sans-serif;
*/

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Rubik', sans-serif;
}
li {
    list-style: none;
    text-transform: capitalize;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
}

/* UTILITY */
/* classe per appilcare uguali width e margin ai contenuti di ogni sezione */
.container {
    width: 70%;
    margin: auto;
}

.button-style {
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
}

/* -- HEADER -- */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
/* Nav Header */
header nav {
    /* background-color: rgb(214,165,53); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 15px;
}

.nav-lista-link {
    display: flex;
    flex-basis: 60%;
    justify-content: space-around;
    align-items: center;
}
.login-link {
    background-color: white;
    color: black;
}

/* Contenuto header */
#header-contenuto {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 50px 0 90px;
}

h1 {
    font-size: 40px;
}

header p {
    margin: 30px 0;
}

.header-buttons > *{
    margin: 0 10px;
}
.header-button1 {
    background-color: white;
    color: black;
}
.header-button2 {
    background-color: black;
}
/* -- MAIN -- */
.sezioni-contenuto {
    display: flex;
    padding: 60px 0;
}
/* le sezioni pare hanno un background grigio */
main section:nth-child(even) {
    background-color: rgb(246,246,246);
}

.img-box {
    width: 65%;
}
.text-box {
    width: 35%;
    padding: 30px 0px 0px 20px;
    
}

h2 {
    font-size: 35px;
}
p {
    font-size: large;
    line-height: 1.5;
}

/* Ultima sezione */
main > section:last-of-type {
    padding: 60px 0;
    text-align: center;
}

#avventura {
    width: 70%;
    margin: auto;
    background-image: url(../img/stars.svg);
    font-size: 20px;
    line-height: 2;
    background-size: contain;
    background-position: center;

    margin-bottom: 15px;
}

main .download-link {
    background-color: rgb(142,161,225);
}
main .download-link:hover {
    background-color: rgb(88,101,242);
}

/* -- FOOTER -- */
footer {
    background-color: rgb(35,39,42);
    padding: 40px 0;
    color: white;
}

footer nav > * {
    margin: 15px 0;
}

.footer-contenuto {
    display: flex;
}

footer section {
    flex-basis: calc(100%/5);
}

/* Footer Prima Colonna */
.footer-section1 {
    flex-basis: 30%;
}
.footer-section1 > * {
    margin-bottom: 30px;
}
.footer-section1 img {
    width: 10%;
    vertical-align: middle;
}

footer h2 {
    color: rgb(114,137,218);
}

#social > * {
    margin-right: 15px;
}


/* Menu a tendina per la lingua */
#bandiera-lingua {
    vertical-align: middle;
}
option {
    color: white;
    background-color: rgb(35,39,42);
}
select {
    background-color: transparent;
    color: white;
    border: none;
}

/* Footer altre colonne */
footer li {
    line-height: 2;
}

footer ul li:first-child {
    color: rgb(114,137,218);
    font-weight: bolder;
}



/* Footer ultima fila */
.footer-last-row {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.footer-last-row img {
    width: 15%;
}
#registrati-link {
    background-color: rgb(142,161,225);
    font-size: smaller;
}